/* Reset CSS*/

html,
body,
button,
button:hover,
button:active,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
input,
input:focus,
textarea:focus,
select:focus,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    list-style-type: none;

    vertical-align: baseline;

    border: 0;
    border: none;
    border: 0 solid transparent;
    border: 0 solid transparent;
    border: none;
    outline: none;
    outline: none;
    outline: 0;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: none;
            box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
}

/* Fonts*/
@font-face
{
    font-family: 'Gilroy Medium';
    font-weight: 500;
    font-style: normal;

    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face
{
    font-family: 'Gilroy Light';
    font-weight: 300;
    font-style: normal;

    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('/fonts/Gilroy-Light.woff2') format('woff2');
}


@font-face
{
    font-family: 'Gilroy Bold';
    font-weight: 500;
    font-style: normal;

    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 800;
    font-style: normal;

    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('/fonts/Gilroy-ExtraBold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Basis Grotesque Pro';
    font-weight: 400;
    font-style: normal;

    src: local('Basis Grotesque Pro'), local('Basis-Grotesque-Pro'),
    url('/fonts/Basis\ Grotesque.woff2') format('woff2');
}

html,
body
{
    font-family: 'Gilroy ExtraBold';
    font-style: normal;

    overflow-x: hidden;

    max-width: 100%;
}

/* Navbar section */

nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 100%;
    height: 171px;
    margin: 0 80px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.brand-logo--navbar
{
    width: 248px;
}

.navbar-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 120px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-menu img
{
    cursor: pointer;
}

/* Gallery section */

.gallery
{
    display: -ms-grid;
    display:     grid;

    height: 35vw;
    max-height: 708px;
    padding: 96px 13vw;

    grid-auto-columns: minmax(auto, 340px);
    grid-auto-rows: minmax(auto,321px);
    gap: 1vw;
}

.gallery__item
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.gallery img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
}

.gallery__item--big
{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
        grid-row: 1 / span 2;
}

.gallery__item--wide
{
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
        grid-column: 3 / span 2;
    grid-row: 0 / span 1;
}

.gallery__item--small1
{
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
        grid-column: 3 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
        grid-row: 2 / span 1;
}

.gallery__item--small2
{
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
        grid-column: 4 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
        grid-row: 2 / span 1;
}

/* Offer section */

.offer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0 13vw 96px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pricing
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 580px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 24px;
}
.pricing h1
{
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
}

.pricing h3
{
    font-size: 36px;
    font-weight: 800;
    line-height: 65px;
}

.pricing p
{
    font-family: 'Gilroy Light';
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    text-align: justify;
}

.pricing button
{
    font-family: 'Gilroy Bold';
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    line-height: 30px;

    position: relative;
    z-index: 0;

    display: inline-block;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 105px;
    /* Do uniwersalizacji */
    height: 50px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    color: black;
    border: 2px solid black;
    background-color: white;
}

.pricing button::before
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 0;

    content: '';
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;

    opacity: 1;
    background: black;

    inset: auto auto 0 0;
}


.pricing button:hover::before
{
    width: 100%;
    height: 100%;

    opacity: 1;
}


.pricing button:hover
{
    -webkit-transition: color .3s ease 0s, background 0s ease .3s;
         -o-transition: color .3s ease 0s, background 0s ease .3s;
            transition: color .3s ease 0s, background 0s ease .3s;

    color: white;
    background: rgb(255, 255, 255);
}

/* Slider section */

.slider-gallery
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 24px;
}

.swiper--big
{
    width: min(708px, 35.8vw);
    height: min(708px, 35.8vw);
}

.swiper--small
{
    max-width: min(708px, 35.8vw);
    height: min(220px,12vw);
}

.swiper-slide
{
    position: relative;

    overflow: hidden;
}

.swiper-slide img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
}

.swiper-button-previous
{
    background-image: url(/assets/Previous-icon.svg);
}

.swiper-button-next
{
    background-image: url(/assets/Next-icon.svg);
}

.swiper-button-next
{
    background-image: url(/assets/Next-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% auto;
}

.swiper-button-next::after
{
    display: none;
}

.swiper-button-prev
{
    background-image: url(/assets/Previous-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% auto;
}

.swiper-button-prev::after
{
    display: none;
}

/* Quotes slider */
.slider-quotes
{
    padding: 0 13vw;
}

.swiper--quotes
{
    width: 100%;
    height: 30vw;
}

/* Quote card*/
.quote-card
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 23vw;
    height: 22vw;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 67px;
}

.quote-card p::before
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    overflow: auto;

    width: 95px;
    height: 86px;

    content: '';

    background-image: url(/assets/Quotes-up-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-card p::after
{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;

    overflow: auto;

    width: 95px;
    height: 86px;
    margin-bottom: 160px;

    content: '';

    background-image: url(/assets/Quotes-down-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-card p
{
    font-family: 'Basis Grotesque Pro';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 40px;

    width: 23vw;
    padding-top: 48px;
}

.quote-card h1
{
    font-family: 'Basis Grotesque Pro';
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 65px;
}

.swiper-pagination-bullet
{
    --swiper-pagination-bullet-size: 12px;
}

.swiper-pagination-bullet-active
{
    --swiper-theme-color: black;
}

/* Footer */
footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 234px;
    margin-top: 60px;
    padding: 100px 13vw;

    color: white;
    background-color: black;

    gap: 5vw;
}

footer h1
{
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    line-height: 25px;
}

footer li
{
    font-family: 'Gilroy Light';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 40px;
}

.social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 40px;
}

.brand-logo--footer
{
    width: 250px;
}
.social__icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    cursor: pointer;

    gap: 34px;
}

.footer__items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    padding-top: 20px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 20vw;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 30px;
}

.menu li
{
    cursor: pointer;
}

.newsletter
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 30px;
}
.newsletter__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.newsletter__form input
{
    font-family: 'Basis Grotesque Pro';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;

    width: 340px;
    margin: 15px 0;

    color: white;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.newsletter__form button
{
    font-family: 'Gilroy Light';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;

    position: relative;
    z-index: 0;

    display: inline-block;
    overflow: visible;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 105px;
    height: 50px;

    cursor: pointer;
    -webkit-transition: .25s;
         -o-transition: .25s;
            transition: .25s;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    color: white;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;

    -ms-flex-item-align: end;
    align-self: flex-end;
}


.newsletter__form button::before
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 0;

    content: '';
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;

    opacity: 1;
    background: rgb(255, 255, 255);

    inset: auto auto 0 0;
}


.newsletter__form button:hover::before
{
    width: 100%;
    height: 100%;

    opacity: 1;
}


.newsletter__form button:hover
{
    -webkit-transition: color .3s ease 0s, background 0s ease .3s;
         -o-transition: color .3s ease 0s, background 0s ease .3s;
            transition: color .3s ease 0s, background 0s ease .3s;

    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}


@media screen and (max-width: 1700px)
{
    nav
    {
        height: 120px;
    }
    .gallery
    {
        padding-top: 30px;
    }

    .pricing
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 30vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        gap: 24px;
    }
    .pricing h1
    {
        font-size: 40px;
        line-height: 40px;
    }

    .pricing h3
    {
        font-size: 26px;
        line-height: 30px;
    }

    .pricing p
    {
        font-size: 18px;
        line-height: 25px;
    }
    .swiper--quotes
    {
        height: 450px;
    }
    .quote-card p
    {
        font-size: 20px;
        line-height: 35px;
    }

    .quote-card h1
    {
        font-size: 26px;
    }

    .quote-card p::after
    {
        margin-bottom: 130px;
    }
}

@media screen and (max-width: 1590px)
{
    .quote-card p::before
    {
        width: 55px;
        height: 50px;
        margin-top: 20px;
    }

    .quote-card p::after
    {
        width: 55px;
        height: 50px;
        margin-bottom: 190px;
    }

    .quote-card p
    {
        font-size: calc(1.1vw + 3px);
        line-height: 25px;
    }

    .quote-card h1
    {
        font-size: 24px;
    }
}

@media screen and (max-width: 1300px)
{
    nav
    {
        height: 90px;
    }

    .brand-logo--navbar
    {
        width: 200px;
    }

    .pricing
    {
        width: 30vw;

        gap: 15px;
    }

    .pricing h1
    {
        font-size: 32px;
        line-height: 25px;
    }

    .pricing h3
    {
        font-size: 22px;
        line-height: 30px;
    }

    .pricing p
    {
        font-size: 16px;
        line-height: 25px;
    }

    .pricing button
    {
        font-size: 16px;

        width: 90px;
        height: 40px;
    }

    .swiper--quotes
    {
        height: 350px;
    }

    .quote-card
    {
        gap: 30px;
    }

    .quote-card p
    {
        font-size: calc(1.1vw + 3px);
        line-height: 20px;
    }

    .quote-card p::after
    {
        margin-bottom: 130px;
    }

    /* Footer */
    footer
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        height: 234px;
        margin-top: 60px;
        padding: 100px 13vw;

        color: white;
        background-color: black;

        gap: 5vw;
    }

    footer h1
    {
        font-size: 15px;
        font-weight: 800;
        font-style: normal;
        line-height: 25px;
    }

    footer li
    {
        font-family: 'Gilroy Light';
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        line-height: 40px;
    }

    .social
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        gap: 20px;
    }

    .brand-logo--footer
    {
        width: 200px;
    }
    .social__icons
    {
        gap: 20px;
    }

    .menu
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        gap: 15px;
    }

    .newsletter
    {
        gap: 10px;
    }

    .newsletter__form input
    {
        font-family: 'Basis Grotesque Pro';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 30px;

        width: 240px;
        margin: 15px 0;

        color: white;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
    }

    .newsletter__form button
    {
        font-size: 13px;

        width: 90px;
        height: 40px;
    }
}

@media screen and (max-width: 960px)
{
    .offer
    {
            flex-direction: column;

        padding-top: 80px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        gap: 120px;
    }

    .pricing
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 60vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 15px;
    }

    .pricing h1
    {
        font-size: 40px;
        line-height: 25px;
    }

    .pricing h3
    {
        font-size: 26px;
        line-height: 30px;

        padding-top: 10px;
    }

    .pricing p
    {
        font-size: 18px;
        line-height: 25px;

        text-align: center;
    }

    .pricing button
    {
        font-size: 18px;
        line-height: 30px;

        width: 95px;
        height: 45px;
    }

    .slider-gallery
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 15px;
    }

    .swiper--big
    {
        width: 70vw;
        height: 40vw;
    }

    .swiper--small
    {
        max-width: 70vw;
        height: 20vw;
    }

    /* Quote card*/

    .quote-card
    {
        gap: 20px;
    }

    .quote-card p::before
    {
        width: 35px;
        height: 30px;
        margin-top: 37px;
    }

    .quote-card p::after
    {
        width: 35px;
        height: 30px;
        margin-bottom: 100px;
    }
    .quote-card p
    {
        width: 19vw;
    }

    .quote-card h1
    {
        font-size: 20px;
        line-height: 30px;
    }

    footer
    {
        height: 100%;

        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .menu-wrapper
    {
        width: 240px;

        gap: 50px;
    }

    .newsletter
    {
        width: 240px;

        gap: 0;
    }

    .newsletter__form input
    {
        margin-top: 0;
    }

    .footer__items
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 720px)
{
    nav
    {
        margin: 0 5vw;
    }
    .gallery
    {
        padding: 5vw;
    }
    .offer
    {
        padding: 140px 5vw 96px;
    }
    .pricing
    {
        width: 80vw;

        gap: 30px;
    }

    .slider-gallery
    {
        width: 80vw;
    }

    .swiper--big
    {
        width: 80vw;
        height: 40vw;
    }

    .swiper--small
    {
        max-width: 80vw;
        height: 25vw;
    }

    .slider-quotes
    {
        padding: 5vw;
    }

    .swiper--quotes
    {
        width: 240px;
    }
    .quote-card
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 240px;
        height: 22vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 30px;
    }

    .quote-card p
    {
        font-size: 16px;

        width: 240px;
    }

    footer
    {
            flex-direction: column;

        padding: 100px 5vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .social
    {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 440px)
{
    .brand-logo--navbar
    {
        width: 120px;
    }

    .pricing
    {
        gap: 10px;
    }

    .pricing h1
    {
        font-size: 28px;
    }

    .pricing h3
    {
        font-size: 20px;
    }

    .pricing p
    {
        font-size: 16px;
    }
}