/* Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav {
    width:100%;
    height: 171px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.brand-logo{
    width:248px;
    margin-left: 80px;
}

.menu {
    width: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
}

.gallery {
    display: grid;
    padding-left: 240px;
    padding-right:240px;
    grid-auto-columns: 340px;
    grid-auto-rows: 340px;
    gap: 24px;  
  }
.gallery__item{
    width:100%;
    height:100%;
    position:relative;
}

  .image {
    width:100%;
    height:100%;
    overflow:hidden;
  }

.image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
}

#big{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#wide{
    grid-column: 3 / span 2;
    grid-row: 0 / span 1;
}

#small1{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#small2{
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}