/* Reset CSS*/

html, body, button, button:hover, button:active, 
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, input, input:focus, textarea:focus, 
select:focus, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    list-style-type: none;

    vertical-align: baseline;

    border: 0;
    border: none;
    border: 0 solid transparent;
    border: 0 solid transparent;
    border: none;
    outline: none;
    outline: none;
    outline: 0;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
            box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
}

/* Fonts*/
@font-face
{
    font-family: 'Gilroy Medium';
    font-weight: 500;
    font-style: normal;

    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face
{
    font-family: 'Gilroy Light';
    font-weight: 300;
    font-style: normal;

    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('/fonts/Gilroy-Light.woff2') format('woff2');
}


@font-face
{
    font-family: 'Gilroy Bold';
    font-weight: 500;
    font-style: normal;

    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Gilroy ExtraBold';
    font-weight: 800;
    font-style: normal;

    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('/fonts/Gilroy-ExtraBold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Basis Grotesque Pro';
    font-weight: 400;
    font-style: normal;

    src: local('Basis Grotesque Pro'), local('Basis-Grotesque-Pro'),
    url('/fonts/Basis\ Grotesque.woff2') format('woff2');
}

html, body
{
    font-family: 'Gilroy ExtraBold';
    font-style: normal;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar section */

nav
{
    display: flex;

    max-width: 100%;
    height: 171px;
    margin: 0 80px;

    align-items: center;
    justify-content: space-between;
}

.brand-logo--navbar
{
    width: 248px;
}

.navbar-menu
{
    display: flex;

    width: 120px;

    align-items: center;
    justify-content: space-between;
}

/* Gallery section */

.gallery
{
    display: grid;
    max-height: 708px;
    height: 35vw;
    padding: 96px 13vw;
    grid-auto-columns: minmax(auto, 340px);
    grid-auto-rows: minmax(auto,321px);
    gap: 1vw;
}

.gallery__item
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.gallery img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}

.gallery__item--big
{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.gallery__item--wide
{
    grid-column: 3 / span 2;
    grid-row: 0 / span 1;
}

.gallery__item--small1
{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.gallery__item--small2
{
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

/* Offer section */

.offer
{
    display: flex;

    padding: 0 13vw 96px;

    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.pricing
{
    display: flex;
    flex-direction: column;

    width: 580px;

    gap: 24px;
}
.pricing h1
{
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
}

.pricing h3
{
    font-size: 36px;
    font-weight: 800;
    line-height: 65px;
}

.pricing p
{
    font-family: 'Gilroy Light';
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    text-align: justify;
}

.pricing button
{
    font-family: 'Gilroy Bold';
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    line-height: 30px;

    width: 105px;
    /* Do uniwersalizacji */
    height: 50px;

    border: 2px solid black;
    background-color: white;
}

/* Slider section */

.slider-gallery
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.swiper--big
{
    width: min(708px, 35.8vw);
    height: min(708px, 35.8vw);
}

.swiper--small
{
    max-width: min(708px, 35.8vw);
    height: min(220px,12vw);
}

.swiper-slide
{
    position: relative;

    overflow: hidden;

}

.swiper-slide img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}

.swiper-button-previous
{
    background-image: url(/assets/Previous-icon.svg);
}

.swiper-button-next
{
    background-image: url(/assets/Next-icon.svg);
}

.swiper-button-next
{
    background-image: url(/assets/Next-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% auto;
}

.swiper-button-next::after
{
    display: none;
}

.swiper-button-prev
{
    background-image: url(/assets/Previous-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% auto;
}

.swiper-button-prev::after
{
    display: none;
}

/* Quotes slider */
.slider-quotes
{
    padding: 0 13vw;
}

.swiper--quotes
{
    width: 100%;
    height: 500px;
}
/* Quote card*/
.quote-card
{
    display: flex;
    flex-direction: column;

    width:23vw;

    align-items: center;
    gap: 67px;
}

.quote-card p::before
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    overflow: auto;

    width: 95px;
    height: 86px;

    content: '';

    background-image: url(/assets/Quotes-up-icon.svg);
    background-repeat: no-repeat;
}

.quote-card p::after
{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;

    overflow: auto;

    width: 95px;
    height: 86px;
    margin-bottom: 110px;

    content: '';

    background-image: url(/assets/Quotes-down-icon.svg);
    background-repeat: no-repeat;
}

.quote-card p
{
    font-family: 'Basis Grotesque Pro';
    font-size: 1vw;
    font-weight: normal;
    font-style: normal;
    line-height: 40px;

    width:23vw;
    padding-top: 48px;
}

.quote-card h1
{
    font-family: 'Basis Grotesque Pro';
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 65px;
}

.swiper-pagination-bullet
{
    --swiper-pagination-bullet-size: 12px;
}

.swiper-pagination-bullet-active
{
    --swiper-theme-color: black;
}

/* Footer */
footer
{
    display: flex;

    height: 234px;
    margin-top: 60px;
    padding: 100px 240px;

    color: white;
    background-color: black;

    gap: 86px;
}

footer h1
{
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    line-height: 25px;
}

footer li
{
    font-family: 'Gilroy Light';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 40px;
}

.social
{
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.brand-logo--footer
{
    width: 250px;
}
.social__icons
{
    display: flex;

    gap: 34px;
}

.footer__items
{
    display: flex;

    width: 100%;
    padding-top: 20px;

    justify-content: space-between;
}

.menu
{
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.newsletter
{
    display: flex;
    flex-direction: column;

    gap: 30px;
}
.newsletter__form
{
    display: flex;
    flex-direction: column;
}

.newsletter__form input
{
    font-family: 'Basis Grotesque Pro';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;

    width: 80%;
    width: 340px;
    margin: 15px 0;

    color: white;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.newsletter__form button
{
    font-family: 'Gilroy Light';
    font-size: 20px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;

    width: 105px;
    height: 50px;

    color: white;
    border: 2px solid white;
    background-color: black;

    align-self: flex-end;
}

/* Uniwersalizacja social icons z nabar icons */
@media screen and (max-width: 1660px) {
.pricing
{
    display: flex;
    flex-direction: column;

    width: 30vw;

    gap: 24px;
}
.pricing h1
{
    font-size: 40px;
    line-height: 40px;
}

.pricing h3
{
    font-size: 26px;
    line-height: 30px;
}

.pricing p
{
    font-family: 'Gilroy Light';
    font-size: 18px;
    line-height: 25px;
}

}